* {
    box-sizing: border-box;
}

body {
    background-color: lightcoral;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.red {
    color: firebrick;
}
